

@model IEnumerable<Network_Inventory_System_Beta.Models.InventoryItem>

@{
    ViewBag.Title = "Home Page";
}

<h2>Inventory Items</h2>
<div class = "searchArea">
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <ul class="searchTerms">
        <li>Location: @Html.TextBox("locationString")</li>
        <li>Manufacturer: @Html.TextBox("manString")</li>
        <li>Model Number: @Html.TextBox("modelString")</li>
        <li>SN: @Html.TextBox("snString")</li>
    </ul>
    <p><em>Serial Number search will return any exact match regardless of other fields</em></p>
    <input type="submit" value="Search" class="searchBtn" />
    
}
        <p class="returnCount">Total Number of Items Returned: @Model.Count()</p>
</div>
<table class="table table-striped">
    <tr>
        <th>
            @Html.ActionLink("ItdID", "Index", new { sortOrder = "", locationString = ViewBag.locationString, manString = ViewBag.manString, modelString = ViewBag.modelString, snString = ViewBag.snString })
        </th>
        <th>
            @Html.ActionLink("Serial Number", "Index", new { sortOrder = "sn", locationString = ViewBag.locationString, manString = ViewBag.manString, modelString = ViewBag.modelString, snString = ViewBag.snString })
        </th>
        <th>
            @Html.ActionLink("Location", "Index", new { sortOrder = "location", locationString = ViewBag.locationString, manString = ViewBag.manString, modelString = ViewBag.modelString, snString = ViewBag.snString })
        </th>
        <th>
            @Html.ActionLink("Manufacturer", "Index", new { sortOrder = "man", locationString = ViewBag.locationString, manString = ViewBag.manString, modelString = ViewBag.modelString, snString = ViewBag.snString })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartNumber)
        </th>
        <th>
            @Html.ActionLink("Model Number", "Index", new { sortOrder = "model", locationString = ViewBag.locationString, manString = ViewBag.manString, modelString = ViewBag.modelString, snString = ViewBag.snString })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Confirmed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th>
            @Html.ActionLink("Asset Number", "Index", new { sortOrder = "asset", locationString = ViewBag.locationString, manString = ViewBag.manString, modelString = ViewBag.modelString, snString = ViewBag.snString })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItdId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Confirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssetNumber)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) <br />
                @Html.ActionLink("Details", "Details", new { id = item.Id }) <br />
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

