<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Network Inventory System</title>
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/site.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="jumbotron">
        <img class="sloco-logo" src="~/Content/img/sloco-logo-white.png" />
        <div class="header-text">
            <h1 class="text-center">County of San Luis Obispo</h1>
            <h2 class="text-center">Network Inventory System</h2>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - County of San Luis Obispo</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
